<script>
    document.addEventListener('DOMContentLoaded', function () {
        const urlParams = new URLSearchParams(window.location.search);
        const currentPage = parseInt(urlParams.get('page'));
        const selector = document.querySelector('select');
        if (selector) {
            selector.value = selector.options[currentPage]?.value;
        }
    });
</script>

<div class=mod_securepdf_pages>{{#str}}page, mod_securepdf{{/str}} {{page}} / {{total}}</div>
<div class=mod_securepdf_pageslinks>

{{#previous}}
    <a href="{{previousurl}}"> << </a>
{{/previous}}

<select onchange="location = this.value;">
    {{#pages}}
        <option value="{{url}}" {{#current}}selected="selected"{{/current}}>{{page}}</option>
    {{/pages}}
</select>

{{#next}}
    <a href="{{nexturl}}"> >> </a>
{{/next}}

</div>
<img src="data:image/png;base64, {{base64}}" alt="Page {{page}}" galleryimg="no" onContextMenu="return false;">
